<li class="task-item">
  <div class="task-item_entities">
    <h2 class="task-item_title">{{task.title}}</h2>
    <p class="task-item_description">{{task.description}}</p>
  </div>
  <div class="task-item_actions">
    <a class="action" routerLink="/updatetask/1">
      <img src="../../../assets/icons/update.png" />
    </a>
    <a class="action">
      <img src="../../../assets/icons/detail.png" />
    </a>
    <a class="action">
      <img src="../../../assets/icons/delete.png" />
    </a>
  </div>
</li>
