<div class="form-card" *ngIf="loading===false">
    <h2>edit task</h2>
    <form #task="ngForm" (ngSubmit)="onUpdateTask(task)" ngNativeValidate>   
        <input name="id" id="id" type="text" required [(ngModel)]="id" hidden>
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" id="title" type="text" required [(ngModel)]="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5" required [(ngModel)]="description"></textarea>
        </div>
        <div class="addtask-button">
            <button type="submit">save</button>
        </div>
    </form>
</div>
<app-loader *ngIf="loading===true"></app-loader>

